*{
  padding: 0;
  margin: 0;
}

#eval:before, #eval:after {

}

body {
  background-color: white;
  font-family: 'Open Sans', cursive;
  font-weight: normal;
  font-size: 1em;
  text-align: center;
}

main {
  width: 60%;
  margin: 0 auto;
}


#eval{
  display: flex;
  margin: 5% auto 0 auto;
  justify-content: center;
  padding: 2%;
  position: relative;
}

#eval:before{
 
  position: absolute;
  background-color: green;
  width: 155px;
  height: 155px;
  top: -4%;
  left: -15%;
 
  padding: 55px 0 0 44px;
  transition: all 2s ease-in;
  font-size: 20px;
  font-weight: bold;
}

#eval:after{
  
  position: absolute;
  background-color: red;
  width: 155px;
  height: 155px;
  top: -4%;
  right: -16%;
  border-radius: 50%;
  padding: 55px 0 0 38px;
  transition: all 2s ease-in;
  font-size: 20px;
  font-weight: bold;
}

.bon {
  background-color: #83EF66 ;
}

.modere {
  background-color:#66EFBD ;
}

.sensible {
  background-color: #6696EF ;
}

.mauvais {
  background-color: #FFFF00  ;
}

.tres_mauvais {
  background-color: #FF4000 ;
}

.dangereux {
  background-color: #FF0000 ;
}

#eval p {
  width: 60%;
  padding: 2%;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
}

.border{
  border: 1px solid black;
  padding: 5px;
  margin-left: 10px;
}


/*---------------*/
/* MEDIA QUERIES */
/*---------------*/

@media screen and (max-width:1120px) {

  main {
    width: 95%;
  }

  #eval{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40%;
  }

  #eval:before{

    position: absolute;
    background-color: green;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 45px 0 0 39px;
    font-size: 14px;
    font-weight: bold;
    top: -40%;
    left: 39%;
  }

  #eval:after{

    position: absolute;
    background-color: red;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 45px 0 0 32px;
    font-size: 14px;
    font-weight: bold;
    top: 100%;
    left: 39%;
  }

}



.greeen {
  color: green;
}



#iaqiun
{
color: green;
}

#iaqideux
{
color : yellow;
}

#iaqitrois
{
color: orange;
}

#iaqiquatre
{
color: red;
}
#iaqicinq
{
color: purple;
}
#iaqisix
{
color: maroon;
}



.pasecolo {
background-image: url('../assets/images/velo.jpg');
background-position: 60%;
height: auto;
}


